html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: black;
}

:root {
    --card-bg-color: rgb(245, 245, 245); /* Light mode background color */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    :root {
        --card-bg-color: #252525; /* Dark mode background color */
    }
}

.brand-color {
    color: rgb(255, 144, 63);
}
img {
    height: 100%;
    width: 100%;;
    object-fit: cover;
}
.carousel-inner img {
    width: 100%;
    aspect-ratio: 4 / 3; /* Replace with your desired ratio */
    object-fit: cover; /* Ensure the image covers the area */
}

body {
    padding-top: 50px;
}

@media (min-width: 264px) {
    body {
        padding-top: 50px;
    }
}

.card1 {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: var(--card-bg-color);
}

.viber {
    background-color: rgb(115, 096, 242);
    color: white;
}

.phone {
    background-color: rgb(60, 160, 100);
    color: white;
}
